
body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #e0e0e0; */
}
h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
h1 {
  margin-bottom: 5px;
}
h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}
button {
  font-size: 18px;
  width: 120px;
}
a {
  text-decoration: none;
}
.base {
  width:800px;
  margin:0 auto;
}

.frame {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0px;
  font-size: 18px;
  border: #404040 dotted 2px;
}

.frame textarea {
  height: 100px;
  width: 99%;
}

.box {
  display: flex;
  flex-direction: column;
}

.display-box, .display-box-2,
.task-div, .pt-display-box,
.display-box-min,
.button-group, .input-box, .hist-box,
.instruction, .record-pan {
  height: 90%;
  margin: 10px;
  display: flex;
  background-color: white;
}

.display-box, .display-box-2, .display-box-min {
  width: 100%;
  border-bottom: #bbbbbb solid 2px;
  flex-direction: column;
  justify-content: space-evenly;
}

.display-box-2 {
  padding-bottom: 20px;
}
.display-box-min {
  border-bottom: none
}
.pt-display-box {
  width: 100%;
  border: #bbbbbb solid 2px;
  justify-content: space-between;
}
.detect-div {
  width: 30%;
  height: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detect-div-agent, .detect-div-power {
  margin: 0 auto;
}

.detect-div-power p {
  font-size: large;
}

.display-main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.display-main-space {
  width: 10%;
  height: 90%;
}
.display-main-agent, .display-main-agent-after {
  width: 40%;
  height: 90%;
}
.display-main-agent-after {
  display: flex;
  justify-content: flex-end;
}
.display-main-recipient {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
}
.display-hist {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e0e0e0;
}
.display-after {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-box {
  height: 240px;
  margin: 10px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.gen-task-box {
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-task-box h2 {
  font-size: 25px;
  width: 100%;
  margin: 0;
  text-align: left;
}

.task-box h2 {
  text-align: left;
  font-size: 25px;
  width: 10%;
  padding: 0;
  margin: 0;
}
.task-box {
  text-align: left;
  width: 100%;
  color: black;
  padding: 0;
  margin: 0 0 5px 0;
}
.task-box h4, .incentive {
  color: red;
  font-style: italic;
  /* font-weight: bold; */
  padding: 0px;
  margin: 0px;
  text-align: left;
  width: 98%;
  background-color: yellow;
}

.agent-stone-div, .recipient-stone-div {
  transition: all 1s cubic-bezier(0, 0, 1, 1);
  position: relative;
  left: 0;
}

.recipient-stone-div {
  display: flex;
  justify-content: flex-start;
}

.stone-svg {
  height: 80px;
  width: 80px;
}

.agent-stone {
  fill: snow;
  stroke: black;
  stroke-width: 2px;
}

.agent-stone-stripe {
  /* stroke: red; */
  stroke-width:6;
}

.recipient-block {
  background-color: #116466; /** #404040;*/
  border: white solid 1px; /** #C0C0C0;*/
  height: 40px;
  width: 25px;
  margin: 0;
  padding: 0;
}

.hist-text h2 {
  font-size: 18px;
  color: #404040;
  text-align: center;
  line-height: 55px;
}

.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-button, .big-button {
  border: #e0e0e0 1px solid;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 5px 10px;
}

.task-button:hover:enabled,
.big-button:hover:enabled,
#sure-btn:hover {
  background-color: #116466;
  color: #e0e0e0;
}

.task-button:disabled,
.big-button:disabled,
.task-button:disabled:hover,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.big-button {
  font-size: 18px;
  padding: 10px 30px;
}

.input-form textarea {
  height: 120px;
  width: 98%;
  border: #bbbbbb solid 0.5px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-form p {
  font-size: 25px;
}

.input-form select {
  font-size: 20px;
}
.summary-div {
  width: 50%;
}
.summary-box {
  width: 95%;
  border: 3px solid #e0e0e0;
  margin: 8px;
}
.task-gen-desc {
  display: flex;
  flex-direction: column;
}
.intro-eg {
  height: 80px;
  width: 80px;
  margin-right: 30px;
}
.demo-btn-group {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.demo-btn-group a {
  background-color: #e0e0e0; /* Green background */
  border: 1px solid white; /* Green border */
  color: black; /* White text */
  padding: 10px 32%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 80%; /* Set a width if needed */
  text-align: left;
  font-size: 20px;
}
.demo-btn-group a:hover {
  background-color: #116466;
  color: white;
}
#task-train-c {
  display: flex;
  flex-direction: row;
}
#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 0 20px 0;
}
#intro-eg, #intro-blocks {
  display: flex;
  justify-content: space-evenly;
}
#intro-blocks-arrow {
  height: 40px;
  padding: 0.5em 1em 0 1em;
}
#intro-touch {
  display: flex;
  justify-content: center;
}
#intro-touch-1 {
  height: 80px;
  width: 80px;
}
#intro-touch-2 {
  display: flex;
  align-items: center;
}
#intro-demo {
  display: flex;
  justify-content: center;
}
#intro-demo-box-1 {
  height: 150px;
  width: 80%;
}
#intro-demo-taskbox-1 {
  height: 120px;
}
#completed {
  display: flex;
  flex-direction: column;
}
#completed p {
  font-weight: bold;
  font-size: 25px;
}
#samples {
  display: flex;
  flex-direction: row;
}
#prolific_id_text {
  font-size: 20px;
  height: 25px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}
